div
{
	
	
}

body
{
	
	
	background-image: url("../images/background.jpg");
	/*background-color: grey;*/
	
}

.centrar {
    
    text-align: center;
    width: 20%;
    margin: auto;

    

}

.limpio {


}

.recuadro{
	background-color: black;
    width: 400px;
    border: 25px solid orange;
    padding: 20px;
    margin: 35px;
    color: white;
	opacity: 0.75;
	/*PARA CENTRAR*/

}