div
{
	
	
}

body
{
	
	
	
	background-color: grey;
	
}

.centrar {
    
    
    width: 50%;
    margin: auto;
    padding: 5%;

}

.limpio {


}

.recuadro{
	background-color: black;
    width: 450px;
    border: 25px solid orange;
    padding: 20px;
    margin: 35px;
    color: white;
	opacity: 0.8;
	/*PARA CENTRAR*/

}